{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "warrensbox/tap"
tap "andqui/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"

brew "autoconf"
brew "awscli"
brew "bash-completion@2"
brew "bat"
brew "cfn-lint"
brew "coreutils"
brew "dark-mode"
brew "deno"
brew "direnv"
brew "exercism"
brew "ffmpeg"
brew "findutils"
brew "gcc"
brew "gh"
brew "git"
brew "git-delta"
brew "gnu-getopt"
brew "gnu-sed"
brew "grep"
brew "httpie"
brew "iperf3"
brew "jq"
brew "ldns"
brew "libiconv"
brew "libidn"
brew "libmetalink"
brew "libvterm"
brew "lldpd"
brew "luajit"
brew "mas"
brew "moreutils"
brew "neovim"
brew "nghttp2"
brew "nginx"
brew "openconnect"
brew "pipenv"
brew "python@3.7"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "shellcheck"
brew "socat"
brew "ssh-copy-id"
brew "tcpdump"
brew "tmux"
brew "tree"
brew "vault"
brew "vim"
brew "tfswitch"
brew "watch"
brew "wget"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"

cask "beyond-compare"
cask "discord"
cask "docker"
cask "dotnet-sdk"
cask "firefox"
cask "google-chrome"
cask "iterm2-beta"
cask "insomnia"
cask "microsoft-teams"
cask "postman"
cask "shiftit"
cask "slack"
cask "snagit"
cask "sonos"
cask "spotify"
cask "visual-studio-code"
cask "vlc"

mas "Microsoft Remote Desktop", id: 715768417
mas "PDF Expert", id: 1055273043

EOF
{{ end -}}
